.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.search_container{
  text-align: left;
}
.filmInfo{
  position: relative;
  top: 50px;
  width: 820px;
}
.type_elem{
  padding: 10px 0;
}
img{max-width:100%;height:auto;}

.poster,
.description,
.text{
  float: left;
  text-align: left;
}
